body{
    /* background-color: rgb(1, 15, 27); */
    background-image: url(assets/img/back.jpg);
    opacity: 0.95;
    background-position-x: center;
    background-size: cover;
    margin: 0px;
    overflow-x: hidden;
   }
   body a:hover{
       color:black;
       background-color: cyan;
       border-radius: 8px;
       transition: 1s;
   }
   body button a:hover{
       color:red;
       background-color: cyan;
       border-radius: 8px;
       transition: 1s;
       
   }
   div.background{
       background-color: rgba(5, 5, 5, 0.9);
       height: 829px;
       padding: 0;
   }
   nav{
       background-color:rgba(1, 1, 26,0.7);
       width: 100%;
       margin: 0;
   }
   div.header{
       display: inline-flex;
       justify-content:space-between; 
       background-color: rgba(0,0,0,0.8);
       display: inline-flex;
       width: 90%; 
       margin-top: 1%;
       margin-left: 3%;
       margin-bottom: 1%;
       border-radius: 40px;
       box-shadow: 1px 1px 5px white;
   
   }
   div.navbrand{
       display: flex;
       
       /* width: 75%; */
   }
   div.navbrand a{
       color: white;
       padding: 5px;
   }
   div.navbrand img{
       width: 65px;
       height: 65px;
       border-radius: 50%;
       padding-top: 5px;
   }
   div.navbrand span.navlogo{
       color: white;
       padding: 18px;
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-weight: bolder;
       font-size: 1.5rem;
   }
   div.links{
      /*  width: 20%; */
       display: flex;
       
   }
   div.links hr{
       color: yellow;
       height: 3px;
   } 
   div.links ul{
       display:inline-flex;
       
       list-style: none;
       
   }
   div.links ul li{
       display: flex;
       margin: 0 20px;
   }
   div.links ul li a{
       text-decoration: none;
       color: yellow;
       font-weight: bolder;
       font-size: 1.2rem;
   }
   div.links ul li a.button{
       
       border-radius: 10px;
       box-shadow: 2px 2px 5px white;
       display: inline;
       border: 1px solid orangered;
       padding: 0px:;
   }
   div.top{
       padding: 50px;
       padding-top: 20px;
       text-align: center;
       color: white;
   }
   div.top h1{
       color: aqua;
       letter-spacing: 5px;
   }
   div.top p{
       font-weight: bold;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   div.form{
       background-color: aliceblue;
       padding-top: 8px;
       position: relative;
   }
   div.icon{
       position: absolute;
       top: -13px;
       left: 50%;
       background-color: wheat;
       border-radius: 50%;
       width: 35px;
       height: 35px;
       box-shadow: 2px 2px 5px black;
       padding: 7px;
       margin-bottom: 10px;
   }
   div.cont{
       text-align: center;
   }
   div.cont h1{
    margin-top: 10px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-weight: normal;
   }
   div.cont p{
       margin-top: 0;
   }
   form div.one{
       display: inline-flex;
   }
   form div.one div.input-group{
       margin-right:    30px;
       padding: 0 50px;
   }
   form div.one div.input-group span{
    border: 1px solid orangered;
    border-radius: 8px;
    font-size: 1.2rem;
    color: black;
    box-shadow: 2px 2px 4px black;
   }
   form div.one div.input-group input{
       width: 350px;
       border: 1px solid orangered;
       border-radius: 8px;
       box-shadow: 2px 2px 4px black;
   }
   form div.two div.input-group{
    margin-top: 10px;
    padding: 0 50px;
    
   }
   form div.two div.input-group textarea{
    width: 95%;
    border: 1px solid orangered;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
   }
   div input.submit{
       background-color:orangered;
       color: black;
       /* position: absolute; */
       width: 150px;
       height: 40px;
       align-items: center;
       margin-right: 5%;
       margin-top: 7px;
       margin-bottom: 10px;
       border-radius: 8px;
    box-shadow: 2px 2px 4px black;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
   }
   div.contact{
       text-align: center;
       padding-top: 20px;
   }
   div.contact h4{
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
   }
   div.contact p{
    font-size: 1rem;
    font-family: cursive;
    color: aliceblue;
   }
   div.contact p img{
       width: 20px;
       height: 20px;
       border-radius: 50%;
        margin-right: 5px;
   }
   div.contact p span{
       padding: 5px;
       padding-top: 10px;
   }
   @media (max-width:768px){
    body{
        overflow-x: hidden;
        background-size: contain;
    }
    body{
        margin: 0;
        overflow-x: hidden;
    }
    nav{
        width: 100%;
        
    }
    div.header{
        display: block;
       width: 95%;
        margin-top: 1%;
        border-radius: 40px;
        box-shadow: 1px 1px 5px white;
    }
    div.navbrand{
        display: flex;
        width: 100%; 
    }
    div.navbrand a{
        color: white;
        padding: 5px;
    }
    div.navbrand img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        padding-top: 5px;
    }
    div.navbrand span.navlogo{
        color: white;
        padding: 18px;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    div.links{
       /*  width: 20%; */
        display: flex;
        
    }
     hr{
        color: yellow;
        height: 3px;
    } 
    div.links ul{
        display:inline-flex;
        margin-left:-6%;
        list-style: none;
        
    }
    div.links ul li{
        display: flex;
        margin: 0 1.5%;
    }
    div.links ul li a{
        text-decoration: none;
        color: yellow;
        font-weight: bolder;
        font-size: 1.2rem;
    }
    div.links ul li a.button{
        
        border-radius: 10px;
        box-shadow: 2px 2px 5px white;
        display: inline;
        border: 1px solid orangered;
        padding: 0px;
    }
    form div.one{
        display: inline-block;
    }
    div.input-group{
        margin-top: 5%;
    }
    div.two{
        margin-top: 5%;
    }
    div.two textarea{
        width: 50%;
    }
    form div.one div.input-group input {
        width: 90%;
    }
    div.three{
        margin-top: 5%;
    }
    div.contact{
        opacity: 1;
    }
    div.contact span{
       
        font-weight: bolder;
    }
}
