body{
	
}
.container-fluid div.col-3{
	background-color:aliceblue;
	height: 100%;
}
.container-fluid div.col-9{
	background-color: midnightblue;
	height: ;
}
.right{
	margin-top: 17%;
	margin-bottom: 18%;
	margin-left: 3%;
	color: white;

}
.right a{
	text-decoration: none;
	color: white;
}
.container div ul li a{
	text-decoration: none;
	color: maroon;
}
.container div ul li{
	list-style: none;
	padding: 7px;
	text-align: end;
	
}
div.list ul li{
	padding-bottom: 29px;

}
div.bott{
	background-color: aliceblue;
	padding: px;
	text-align: end;
	width: %;
	margin-bottom:%;
	
}
@media (max-width:680px){
	body{
		display: block;
		flex-direction: column;
	}
	.container-fluid div.col-9{
		width: 100%;
	}
	.right{
		width: 100%;
		margin:0px;
		
	}
	.col-4{
		display:block;
		margin: 0px;
		width: 100%;
	}
	.right button{
		width: 50%;
	}
	.container-fluid div.col-3{
		width: 100%;
	}
	.container button{
	align-content: flex-end;
	}
	div.bott{
		width: auto;
		margin: 0px;
		margin-top: 3%;
	}
}