body{
	background-image: url(assets/img/f7c86e14ddab0b4117994bd5f5385a98.gif);
	background-position: ;
	background-size:auto;
}
div.start{
	margin-top: 18%;
}
div h3{
	color: orange;
	font-family: georgia;
	text-shadow: 2px 2px 5px black;
	font-size: 0.9rem;;
}
div.start img{
	width: 40px;
	
}
@media (max-width:680px){
	div.start{
	margin-top: 50%;
}
}