body{
    /* background-color: rgba(0,0,0,0.8); */
    margin: 0 auto;
    position: relative;
} body a:hover{
    color:black;
    background-color: cyan;
    border-radius: 8px;
    transition: 1s;
}
nav{
    background-color: rgba(0,0,0,0.9);
}
div.header{
    display: inline-flex;
    justify-content:space-between; 
    background-color: rgba(0,0,0,0.8);
    display: inline-flex;
    width: 90%; 
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    border-radius: 40px;
    box-shadow: 1px 1px 5px white;

}
div.navbrand{
    display: flex;
    
    /* width: 75%; */
}
div.navbrand a{
    color: white;
    padding: 5px;
}
div.navbrand img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding-top: 5px;
}
div.navbrand span.navlogo{
    color: white;
    padding: 18px;
    font-weight: bolder;
    font-size: 1.5rem;
}
div.links{
   /*  width: 20%; */
    display: flex;
    
}
 hr{
    color: yellow;
    height: 3px;
} 
div.links ul{
    display:inline-flex;
    
    list-style: none;
    
}
div.links ul li{
    display: flex;
    margin: 0 20px;
}
div.links ul li a{
    text-decoration: none;
    color: yellow;
    font-weight: bolder;
    font-size: 1.2rem;
}
div.links ul li a.button{
    background: linear-gradient(to right,red,green,indigo);
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
    display: inline;
    border: 1px solid orangered;
    padding: 5px;
}
div.row{
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: rgba(0,0,10,10);
}
div.left{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    background-color: rgba(6, 1, 20, 0);
    position: relative;
}
div.right{
    height: 100%;
    width: 50%;
    /* background-color: aqua; */
    padding-left: 20px;
    padding-right: 30px;
}
div.left img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin:8% 0 7% 5%;
}
div.left div.name{
    position: absolute;
    top: 37%;
    right: 10%;
    background-color: rgba(0,0,10,10);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 40px;
    
}
div.left div.name h4{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 2%;
    color:lawngreen;
    font-family: cursive;
    animation: myAnimation 1s linear 1s infinite alternate;
}
div.right h3{
    margin-top: 30%;
    margin-bottom: 5%;
    font-size: 2rem;
    font-stretch:ultra-condensed;
    word-spacing: 5px;
    letter-spacing: 10px;
    font-weight: bolder;
    margin-left: 2%;
    color: aqua;
    /* font-family: cursive; */
}
div.right p{
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: cursive;
    color:white;
}
div.buttons {
    margin-left: 5%;
    margin-top: 5%;
}
div.buttons a:nth-child(1){
    width: 150px;
    height: 50px;
    background-color:  rgba(5,10,10);
    border-radius: 30px;
    border: 2px solid orangered;
    box-shadow: 2px 2px 5px white;
    margin-right: 5%;
    padding: 15px;
}
div.buttons a:nth-child(2){
    width: 150px;
    height: 50px;
    background: linear-gradient(to right, black, red,green,indigo);
    border-radius: 30px;
    border: 2px solid cyan;
    box-shadow: 2px 2px 5px white;
    padding: 15px;
}
div.buttons a{
    text-decoration: none;
    color: aliceblue;
    font-size: 0.8rem;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes myAnimation {
    0%{
        color: red;
    }
    25%{
        color: aqua;
    }
    40%{
        color:black;
    }
    50%{
        color: gold;
    }
    75%{
        color: white;
    }
    100%{
        color: blue;
    }
}
div.contact{
    text-align: center;
    padding-top: 20px;
}
div.contact h4{
 font-weight: bolder;
 font-size: 1.2rem;
 font-family: 'Courier New', Courier, monospace;
 color: chartreuse;
}
div.contact p{
 font-size: 1rem;
 font-family: cursive;
 color: aliceblue;
}
div.contact p img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
     margin-right: 5px;
}
div.contact p span{
    padding: 5px;
    padding-top: 10px;
}
footer{
    background-color:black;
    position: absolute;
    bottom: -15%;
    width: 100%;
}
@media (max-width:678px){
    body{
        overflow-x: hidden;
    }
    body{
        margin: 0%;
        overflow-x: hidden;
    }
    nav{
        width: 100%;
        margin-top: 0%;
        
    }
    div.header{
        display: block;
       width: 95%;
        margin-top: 0%;
        border-radius: 40px;
        box-shadow: 1px 1px 5px white;
    }
    div.navbrand{
        display: flex;
        width: 100%; 
    }
    div.navbrand a{
        color: white;
        padding: 5px;
    }
    div.navbrand img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        padding-top: 5px;
    }
    div.navbrand span.navlogo{
        color: white;
        padding: 18px;
        font-weight: bolder;
        font-size: 1.5rem;
    }
    div.links{
       /*  width: 20%; */
        display: flex;
        
    }
     hr{
        color: yellow;
        height: 3px;
    } 
    div.links ul{
        display:inline-flex;
        
        list-style: none;
        
    }
    div.links ul li{
        display: flex;
        margin: 0 8px;
    }
    div.links ul li a{
        text-decoration: none;
        color: yellow;
        font-weight: bolder;
        font-size: 1.2rem;
    }
    div.links ul li a.button{
        
        border-radius: 10px;
        box-shadow: 2px 2px 5px white;
        display: inline;
        border: 1px solid orangered;
        padding: 5px;
    }
    div.row{
        margin-top: -4px;
        width: 100%;
        height: 100%;
        display: inline-block;
        background-color: rgba(0,0,10,10);
    }
    div.left{
        height: 100%;
        width: 100%;
        /* background-color: aqua; */
        background-color: rgba(6, 1, 20, 0);
        position: relative;
    }
    div.right{
        height: 100%;
        width: 100%;
        /* background-color: aqua; */
        padding-left: 20px;
        padding-right: 50px;
    }
    div.left img{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        margin:8% 0 0% 5%;
    }
    div.left div.name{
        position: absolute;
        top: 60%;
        right: 5%;
        background-color: rgba(0,0,10,10);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 40px;
        
    }
    div.left div.name h4{
        font-size: 1.2rem;
        font-weight: bolder;
        margin-left: 2%;
        color:lawngreen;
        font-family: cursive;
        animation: myAnimation 1s linear 1s infinite alternate;
    }
    div.right h3{
        margin-top: 15%;
        margin-bottom: 5%;
        font-size: 1.8rem;
        font-stretch:ultra-condensed;
        word-spacing: 3px;
        letter-spacing: 8px;
        font-weight: bolder;
        margin-left: 1%;
        color: aqua;
        /* font-family: cursive; */
    }
    div.right p{
        font-size: 1rem;
        font-weight: bolder;
        font-family: cursive;
        color:white;
        padding-right: 5%;
    }
    div.buttons {
        margin-left: 5%;
        margin-top: 9%;
        margin-bottom: 13%;
        text-align: center;
    }
    div.buttons a:nth-child(1){
        width: 180px;
        height: 50px;
        background-color:  rgba(5,10,10);
        border-radius: 30px;
        border: 2px solid orangered;
        box-shadow: 2px 2px 5px white;
        margin-right: 5%;
        padding: 20px;
    }
    div.buttons a:nth-child(2){
        width: 180px;
        height: 50px;
        background: linear-gradient(to right, black, red,green,indigo);
        border-radius: 30px;
        border: 2px solid cyan;
        box-shadow: 2px 2px 5px white;
        padding: 20px;
    }
    div.buttons a{
        text-decoration: none;
        color: aliceblue;
        font-size: 0.8rem;
        font-weight: bolder;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
}